.holder {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.full-holder {
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

[class*=holder-] {
    @extend .holder;
}

.vc {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.all-none{
    display: none !important;
}
.all-block{
    display: block !important;
}
.no-gap {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hr {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.offra-inline {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
}

.flex-align-end {
    align-items: flex-end;
    -webkit-box-align: flex-end!important;
    -ms-box-align: flex-end!important;
}

.allow-gap {
    padding-left: 15 !important;
    padding-right: 15 !important;
}

/*Features*/

.align-center {
    text-align: center;
}

.flex-align-center {
    align-items: center;
}

.align-middle {
    align-self: center;
}

.align-top {
    align-self: flex-start;
}

.align-bottom {
    align-self: flex-end;
}
.align-streatch{
    align-self: stretch;
}
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.single-item-right {
    margin-left: auto;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.content-space-middle {
    justify-content: space-between;
}

.content-space-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.no-gap > .vc,
.no-gap > [class*=vc-] {
    padding-right: 0;
    padding-left: 0;
}

.flex-align-start {
    -webkit-box-align: start!important;
    align-items: flex-start;
}

.allow-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
    flex-flow: row;
    list-style: none;
}

.allow-box-inlilne {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
}

.flow-column {
    flex-flow: column !important;
}

.flow-row {
    flex-flow: row !important;
}

.list-item {
    color: #777;
    padding: 13px 15px 13px 15px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    &.active {
        background: $active-color;
        color: #fff;
    }
    &.radius {
        &:first-child {
            border-radius: 4px 4px 0px 0px;
        }
        &:last-child {
            border-radius: 0px 0px 4px 4px;
        }
    }

}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    &.border-less {
        border-color: transparent;
        a {
            border-color: transparent;
        }
    }

}

ol.inline li,
ul.inline li,
.inline-item {
    display: inline-block;
}

.vc-relative {
    position: relative;
}

.vc-absolute {
    position: absolute;
}

.vc-static {
    position: static;
}

/*Grid Responsive BreakPoint*/

$large_display: 'only screen and  (min-width: 1350px)';
$average_display: 'only screen and  (min-width: 1150px)';
$ordinary_display:'only screen  and (min-width: 992px)';
$simple_display:'only screen  and (min-width: 768px)';
$common_display:'only screen and (max-width: 767px)';
$rare_display: 'only screen and (min-width: 568px) and (max-width: 767px)';


@media only screen and (min-width:568px) {
    .modal-content {
        max-width: 500px;

    }
}

.vc-1,
.vc-2,
.vc-3,
.vc-4,
.vc-5,
.vc-6,
.vc-7,
.vc-8,
.vc-9,
.vc-10,
.vc-11,
.vc-12,
.vc-ld-1,
.vc-od-1,
.vc-ad-1,
.vc-sd-1,
.vc-cd-1,
.vc-rd-1,
.vc-ld-2,
.vc-ad-2,
.vc-od-2,
.vc-sd-2,
.vc-cd-2,
.vc-rd-2,
.vc-ld-3,
.vc-ad-3,
.vc-od-3,
.vc-sd-3,
.vc-cd-3,
.vc-rd-3,
.vc-ld-4,
.vc-ad-4,
.vc-od-4,
.vc-sd-4,
.vc-cd-4,
.vc-rd-4,
.vc-ld-5,
.vc-ad-5,
.vc-od-5,
.vc-sd-5,
.vc-cd-5,
.vc-rd-5,
.vc-ld-6,
.vc-ad-6,
.vc-od-6,
.vc-sd-6,
.vc-cd-6,
.vc-rd-6,
.vc-ld-7,
.vc-ad-7,
.vc-od-7,
.vc-sd-7,
.vc-cd-7,
.vc-rd-7,
.vc-ld-8,
.vc-ad-8,
.vc-od-8,
.vc-sd-8,
.vc-cd-8,
.vc-rd-8,
.vc-ld-9,
.vc-ad-9,
.vc-od-9,
.vc-sd-9,
.vc-cd-9,
.vc-rd-9,
.vc-ld-10,
.vc-ad-10,
.vc-od-10,
.vc-sd-10,
.vc-sd-10,
.vc-rd-10,
.vc-ld-11,
.vc-ad-11,
.vc-od-11,
.vc-sd-11,
.vc-cd-11,
.vc-rd-11,
.vc-ld-12,
.vc-ad-12,
.vc-od-12,
.vc-sd-12,
.vc-cd-12,
.vc-rd-12 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    min-height: 1px;
    position: relative;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.vc-1 {
    flex: 0 0 8.3333333%;
    -ms-flex: 0 0 8.3333333%;
    max-width: 8.3333333%;
}

.vc-2 {
    flex: 0 0 16.6666666%;
    -ms-flex: 0 0 16.6666666%;
    max-width: 16.6666666%;
}

.vc-3 {
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%;
}

.vc-4 {
    flex: 0 0 33.3333333%;
    -ms-flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
}

.vc-5 {
    flex: 0 0 41.6666667%;
    -ms-flex: 0 0 41.6666667%;
    max-width: 41.6666667%;
}

.vc-6 {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
}

.vc-7 {
    flex: 0 0 58.3333333%;
    -ms-flex: 0 0 58.3333333%;
    max-width: 58.3333333%;
}

.vc-8 {
    flex: 0 0 66.6666666%;
    -ms-flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
}

.vc-9 {
    flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    max-width: 75%;
}

.vc-10 {
    flex: 0 0 83.3333333%;
    -ms-flex: 0 0 83.3333333%;
    max-width: 83.3333333%;
}

.vc-11 {
    flex: 0 0 91.6666666%;
    -ms-flex: 0 0 91.6666666%;
    max-width: 91.6666666%;
}

.vc-12 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
}


/*Grid style 2*/

@media only screen and (min-width:1400px) {
    [class*=holder-] {
        padding-right: 3% !important;
        padding-left: 3% !important;
        max-width: calc(100% - 6%) !important;
    }
}

@media only screen and (min-width:1350px) and (max-width:1400px) {
    [class*=holder-] {
        max-width: 1260px !important;
    }
}

@media only screen and (min-width:1150px) and (max-width:1349px) {
    [class*=holder-] {
        max-width: 1070px !important;
    }
}

@media only screen and (min-width:992px) and (max-width:1149px) {
    [class*=holder-] {
        max-width: 920px !important;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    [class*=holder-] {
        max-width: 700px !important;
    }
}

@media only screen and (min-width:568px) and (max-width:767px) {
    [class*=holder-] {
        max-width: 500px !important;
    }
}


.pos-left {
    left: 0;
    right: auto;
}

.pos-right {
    right: 0;
    left: auto;
}

@media #{$common_display} {
    .modal-content {
        max-width: 500px;

    }
    .holder {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .vc-cd-1 {
        flex: 0 0 8.3333333%;
        -ms-flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .vc-cd-2 {
        flex: 0 0 16.6666666%;
        -ms-flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .vc-cd-3 {
        flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        max-width: 25%;
    }
    .vc-cd-4 {
        flex: 0 0 33.3333333%;
        -ms-flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .vc-cd-5 {
        flex: 0 0 41.6666667%;
        -ms-flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .vc-cd-6 {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
    .vc-cd-7 {
        flex: 0 0 58.3333333%;
        -ms-flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .vc-cd-8 {
        flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .vc-cd-9 {
        flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        max-width: 75%;
    }
    .vc-cd-10 {
        flex: 0 0 83.3333333%;
        -ms-flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .vc-cd-11 {
        flex: 0 0 91.6666666%;
        -ms-flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .vc-cd-12 {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }

    .vc-cd-offset-1 {
        margin-left: 8.3333333%;
    }
    .vc-cd-offset-2 {
        margin-left: 16.6666666%;
    }
    .vc-cd-offset-3 {
        margin-left: 25%;
    }
    .vc-cd-offset-4 {
        margin-left: 33.3333333%;
    }
    .vc-cd-offset-5 {
        margin-left: 41.6666667%;
    }
    .vc-cd-offset-6 {
        margin-left: 50%;
    }
    .vc-cd-offset-7 {
        margin-left: 58.3333333%;
    }
    .vc-cd-offset-8 {
        margin-left: 66.666667%;
    }
    .vc-cd-offset-9 {
        margin-left: 75%;
    }
    .vc-cd-offset-10 {
        margin-left: 83.3333333%;
    }
    .vc-cd-offset-11 {
        margin-left: 91.6666666%;
    }
    .vc-cd-offset-12 {
        margin-left: 100%;
    }
    .vc-cd-push-1 {
        left: 8.3333333%;
    }
    .vc-cd-push-2 {
        left: 16.6666666%;
    }
    .vc-cd-push-3 {
        left: 25%;
    }
    .vc-cd-push-4 {
        left: 33.3333333%;
    }
    .vc-cd-push-5 {
        left: 41.6666667%;
    }
    .vc-cd-push-6 {
        left: 50%;
    }
    .vc-cd-push-7 {
        left: 58.3333333%;
    }
    .vc-cd-push-8 {
        left: 66.666667%;
    }
    .vc-cd-push-9 {
        left: 75%;
    }
    .vc-cd-push-10 {
        left: 83.3333333%;
    }
    .vc-cd-push-11 {
        left: 91.6666666%;
    }
    .vc-cd-push-12 {
        left: 100%;
    }
    .vc-cd-pull-1 {
        right: 8.3333333%;
    }
    .vc-cd-pull-2 {
        right: 16.6666666%;
    }
    .vc-cd-pull-3 {
        right: 25%;
    }
    .vc-cd-pull-4 {
        right: 33.3333333%;
    }
    .vc-cd-pull-5 {
        right: 41.6666667%;
    }
    .vc-cd-pull-6 {
        right: 50%;
    }
    .vc-cd-pull-7 {
        right: 58.3333333%;
    }
    .vc-cd-pull-8 {
        right: 66.666667%;
    }
    .vc-cd-pull-9 {
        right: 75%;
    }
    .vc-cd-pull-10 {
        right: 83.3333333%;
    }
    .vc-cd-pull-11 {
        right: 91.6666666%;
    }
    .vc-cd-pull-12 {
        right: 100%;
    }

    .allow-box-cd {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .vc-cd-none {
        display: none !important;
        -webkit-display: none !important;
    }
    .vc-cd-block {
        display: block !important
    }
    .no-gap-cd {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .vc-cd-middle {
        -webkit-align-self: center;
        align-self: center;
    }
    .vc-cd-top {
        -webkit-align-self: flex-start;
        align-self: flex-start;
    }
    .align-cd-center {
        text-align: center;
    }
    .vc-cd-bottom {
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }
    .vc-cd-stretch {
        -webkit-align-self: stretch;
        align-self: stretch;
    }
    .float-cd-left {
        float: left !important;
    }
    .float-cd-right {
        float: right !important;
    }
    .single-item-cd-right {
        margin-left: auto !important;
    }
    .justify-content-cd--center {
        justify-content: center !important;
    }
    .justify-content-cd--start {
        justify-content: flex-start !important;
    }
    .content-space-cd-middle {
        justify-content: space-between !important;
    }
    .content-space-cd-around {
        justify-content: space-around !important;
    }
    .justify-content-cd-end {
        justify-content: flex-end !important;
    }
    .mtb-cd-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ml-cd-30 {
        margin-left: 30px;
    }
    .mr-cd-30 {
        margin-right: 30px;
    }
    .pt-cd-50 {
        padding-top: 50px;
    }
    .ptb-cd-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .ptb-cd-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-cd-3 {
        padding-top: 3px;
    }
    .pb-cd-3 {
        padding-bottom: 3px;
    }
    .pt-cd-100 {
        padding-top: 100px;
    }
    .ptb-cd-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .plr-cd-50 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .plr-cd-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .plr-cd-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .plr-cd-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .plr-cd-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pl-cd-30 {
        padding-left: 30px;
    }
    .pr-cd-30 {
        padding-right: 30px;
    }
    .mt-cd-30 {
        margin-top: 30px;
    }
    .mb-cd-30 {
        margin-bottom: 30px;
    }
    .align-cd-left {
        text-align: left;
    }
    .align-cd-right {
        text-align: right;
    }
    .vc-cd-offset-0 {
        margin-left: 0%;
    }
    .modal-od,
    .modal-ld {
        max-width: 100%;
        min-width: 300px;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .flex-align-cd-center {
        align-items: center;
        -webkit-box-align: center!important;
        -ms-box-align: center!important;
    }
    .flex-align-cd-start {
        align-items: flex-start;
        -webkit-box-align: flex-start!important;
        -ms-box-align: flex-start!important;
    }
    .flex-align-cd-end {
        align-items: flex-end;
        -webkit-box-align: flex-end!important;
        -ms-box-align: flex-end!important;
    }

    .flow-cd-column {
        flex-flow: column !important;
    }
    .flow-cd-row {
        flex-flow: row !important;
    }

    .allow-gap-cd {
        padding-left: 15 !important;
        padding-right: 15 !important;
    }
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .modal-content {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .timeline-time {
        position: static !important;
        right: 0 !important;
        padding-top: 10px !important;
        top: 0 !important;
        transform: translateY(0%) !important;
        left: 0 !important;
        text-align: left !important;
    }



}

@media #{$rare_display} {
    .modal-content {
        max-width: 550px;

    }
    .vc-rd-block {
        display: block !important;
    }
    .no-gap-rd {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .modal-od,
    .modal-ld {
        max-width: 550px;
    }
    .holder {
        max-width: 550px;
    }
    .vc-rd-1 {
        flex: 0 0 8.3333333%;
        -ms-flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .vc-rd-2 {
        flex: 0 0 16.6666666%;
        -ms-flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .vc-rd-3 {
        flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        max-width: 25%;
    }
    .vc-rd-4 {
        flex: 0 0 33.3333333%;
        -ms-flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .vc-rd-5 {
        flex: 0 0 41.6666667%;
        -ms-flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .vc-rd-6 {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
    .vc-rd-7 {
        flex: 0 0 58.3333333%;
        -ms-flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .vc-rd-8 {
        flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .vc-rd-9 {
        flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        max-width: 75%;
    }
    .vc-rd-10 {
        flex: 0 0 83.3333333%;
        -ms-flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .vc-rd-11 {
        flex: 0 0 91.6666666%;
        -ms-flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .vc-rd-12 {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
    .vc-rd-offset-1 {
        margin-left: 8.3333333%;
    }
    .vc-rd-offset-2 {
        margin-left: 16.6666666%;
    }
    .vc-rd-offset-3 {
        margin-left: 25%;
    }
    .vc-rd-offset-4 {
        margin-left: 33.3333333%;
    }
    .vc-rd-offset-5 {
        margin-left: 41.6666667%;
    }
    .vc-rd-offset-6 {
        margin-left: 50%;
    }
    .vc-rd-offset-7 {
        margin-left: 58.3333333%;
    }
    .vc-rd-offset-8 {
        margin-left: 66.666667%;
    }
    .vc-rd-offset-9 {
        margin-left: 75%;
    }
    .vc-rd-offset-10 {
        margin-left: 83.3333333%;
    }
    .vc-rd-offset-11 {
        margin-left: 91.6666666%;
    }
    .vc-rd-offset-12 {
        margin-left: 100%;
    }
    .vc-rd-push-1 {
        left: 8.3333333%;
    }
    .vc-rd-push-2 {
        left: 16.6666666%;
    }
    .vc-rd-push-3 {
        left: 25%;
    }
    .vc-rd-push-4 {
        left: 33.3333333%;
    }
    .vc-rd-push-5 {
        left: 41.6666667%;
    }
    .vc-rd-push-6 {
        left: 50%;
    }
    .vc-rd-push-7 {
        left: 58.3333333%;
    }
    .vc-rd-push-8 {
        left: 66.666667%;
    }
    .vc-rd-push-9 {
        left: 75%;
    }
    .vc-rd-push-10 {
        left: 83.3333333%;
    }
    .vc-rd-push-11 {
        left: 91.6666666%;
    }
    .vc-rd-push-12 {
        left: 100%;
    }
    .vc-rd-pull-1 {
        right: 8.3333333%;
    }
    .vc-rd-pull-2 {
        right: 16.6666666%;
    }
    .vc-rd-pull-3 {
        right: 25%;
    }
    .vc-rd-pull-4 {
        right: 33.3333333%;
    }
    .vc-rd-pull-5 {
        right: 41.6666667%;
    }
    .vc-rd-pull-6 {
        right: 50%;
    }
    .vc-rd-pull-7 {
        right: 58.3333333%;
    }
    .vc-rd-pull-8 {
        right: 66.666667%;
    }
    .vc-rd-pull-9 {
        right: 75%;
    }
    .vc-rd-pull-10 {
        right: 83.3333333%;
    }
    .vc-rd-pull-11 {
        right: 91.6666666%;
    }
    .vc-rd-pull-12 {
        right: 100%;
    }

    .allow-box-rd {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .vc-rd-none {
        display: none !important;
        -webkit-display: none !important;
    }
    .vc-rd-middle {
        -webkit-align-self: center;
        align-self: center;
    }
    .vc-rd-top {
        -webkit-align-self: flex-start;
        align-self: flex-start;
    }
    .align-rd-center {
        text-align: center;
    }
    .vc-rd-bottom {
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }
    .vc-rd-stretch {
        -webkit-align-self: stretch;
        align-self: stretch;
    }
    .float-rd-left {
        float: left !important;
    }
    .float-rd-right {
        float: right !important;
    }
    .single-item-rd-right {
        margin-left: auto;
    }
    .justify-content-rd--center {
        justify-content: center;
    }
    .justify-content-rd--start {
        justify-content: flex-start;
    }
    .content-space-rd-middle {
        justify-content: space-between;
    }
    .content-space-rd-around {
        justify-content: space-around;
    }
    .justify-content-rd-end {
        justify-content: flex-end;
    }
    .mtb-rd-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ml-rd-30 {
        margin-left: 30px;
    }
    .mr-rd-30 {
        margin-right: 30px;
    }
    .pt-rd-50 {
        padding-top: 50px;
    }
    .ptb-rd-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .ptb-rd-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-rd-3 {
        padding-top: 3px;
    }
    .pb-rd-3 {
        padding-bottom: 3px;
    }
    .pt-rd-100 {
        padding-top: 100px;
    }
    .ptb-rd-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .plr-rd-50 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .plr-rd-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .plr-rd-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .plr-rd-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .plr-rd-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pl-rd-30 {
        padding-left: 30px;
    }
    .pr-rd-30 {
        padding-right: 30px;
    }
    .mt-rd-30 {
        margin-top: 30px;
    }
    .mb-rd-30 {
        margin-bottom: 30px;
    }
    .align-rd-left {
        text-align: left;
    }
    .align-rd-right {
        text-align: right;
    }
    .vc-rd-offset-0 {
        margin-left: 0%;
    }
    .flex-align-rd-center {
        align-items: center;
        -webkit-box-align: center!important;
        -ms-box-align: center!important;
    }
    .flex-align-rd-start {
        align-items: flex-start;
        -webkit-box-align: flex-start!important;
        -ms-box-align: flex-start!important;
    }
    .flex-align-rd-end {
        align-items: flex-end;
        -webkit-box-align: flex-end!important;
        -ms-box-align: flex-end!important;
    }

    .flow-rd-column {
        flex-flow: column !important;
    }
    .flow-rd-row {
        flex-flow: row !important;
    }

    .allow-gap-rd {
        padding-left: 15 !important;
        padding-right: 15 !important;
    }

}

@media #{$simple_display} {
    .modal-ld {
        max-width: 750px;
    }
    .modal-od {
        max-width: 750px;
    }
    .no-gap-sd {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .holder {
        max-width: 750px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .vc-sd-1 {
        flex: 0 0 8.3333333%;
        -ms-flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .vc-sd-2 {
        flex: 0 0 16.6666666%;
        -ms-flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .vc-sd-3 {
        flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        max-width: 25%;
    }
    .vc-sd-4 {
        flex: 0 0 33.3333333%;
        -ms-flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .vc-sd-5 {
        flex: 0 0 41.6666667%;
        -ms-flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .vc-sd-6 {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
    .vc-sd-7 {
        flex: 0 0 58.3333333%;
        -ms-flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .vc-sd-8 {
        flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .vc-sd-9 {
        flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        max-width: 75%;
    }
    .vc-sd-10 {
        flex: 0 0 83.3333333%;
        -ms-flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .vc-sd-11 {
        flex: 0 0 91.6666666%;
        -ms-flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .vc-sd-12 {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
    .vc-sd-offset-1 {
        margin-left: 8.3333333%;
    }
    .vc-sd-offset-2 {
        margin-left: 16.6666666%;
    }
    .vc-sd-offset-3 {
        margin-left: 25%;
    }
    .vc-sd-offset-4 {
        margin-left: 33.3333333%;
    }
    .vc-sd-offset-5 {
        margin-left: 41.6666667%;
    }
    .vc-sd-offset-6 {
        margin-left: 50%;
    }
    .vc-sd-offset-7 {
        margin-left: 58.3333333%;
    }
    .vc-sd-offset-8 {
        margin-left: 66.666667%;
    }
    .vc-sd-offset-9 {
        margin-left: 75%;
    }
    .vc-sd-offset-10 {
        margin-left: 83.3333333%;
    }
    .vc-sd-offset-11 {
        margin-left: 91.6666666%;
    }
    .vc-sd-offset-12 {
        margin-left: 100%;
    }
    .vc-sd-push-1 {
        left: 8.3333333%;
    }
    .vc-sd-push-2 {
        left: 16.6666666%;
    }
    .vc-sd-push-3 {
        left: 25%;
    }
    .vc-sd-push-4 {
        left: 33.3333333%;
    }
    .vc-sd-push-5 {
        left: 41.6666667%;
    }
    .vc-sd-push-6 {
        left: 50%;
    }
    .vc-sd-push-7 {
        left: 58.3333333%;
    }
    .vc-sd-push-8 {
        left: 66.666667%;
    }
    .vc-sd-push-9 {
        left: 75%;
    }
    .vc-sd-push-10 {
        left: 83.3333333%;
    }
    .vc-sd-push-11 {
        left: 91.6666666%;
    }
    .vc-sd-push-12 {
        left: 100%;
    }
    .vc-sd-pull-1 {
        right: 8.3333333%;
    }
    .vc-sd-pull-2 {
        right: 16.6666666%;
    }
    .vc-sd-pull-3 {
        right: 25%;
    }
    .vc-sd-pull-4 {
        right: 33.3333333%;
    }
    .vc-sd-pull-5 {
        right: 41.6666667%;
    }
    .vc-sd-pull-6 {
        right: 50%;
    }
    .vc-sd-pull-7 {
        right: 58.3333333%;
    }
    .vc-sd-pull-8 {
        right: 66.666667%;
    }
    .vc-sd-pull-9 {
        right: 75%;
    }
    .vc-sd-pull-10 {
        right: 83.3333333%;
    }
    .vc-sd-pull-11 {
        right: 91.6666666%;
    }
    .vc-sd-pull-12 {
        right: 100%;
    }

    .allow-box-sd {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .vc-sd-none {
        display: none !important;
        -webkit-display: none !important;
    }
    .vc-sd-block {
        display: block !important;
    }
    .vc-sd-middle {
        -webkit-align-self: center;
        align-self: center;
    }
    .vc-sd-top {
        -webkit-align-self: flex-start;
        align-self: flex-start;
    }
    .vc-sd-bottom {
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }
    .vc-sd-stretch {
        -webkit-align-self: stretch;
        align-self: stretch;
    }
    .float-sd-left {
        float: left !important;
    }
    .float-sd-right {
        float: right !important;
    }
    .single-item-sd-right {
        margin-left: auto;
    }
    .justify-content-sd--center {
        justify-content: center;
    }
    .justify-content-sd--start {
        justify-content: flex-start;
    }
    .content-space-sd-middle {
        justify-content: space-between;
    }
    .content-space-sd-around {
        justify-content: space-around;
    }
    .justify-content-sd-end {
        justify-content: flex-end;
    }
    .align-sd-center {
        text-align: center;
    }
    .demo-single-service p {
        padding-left: 0px;
        padding-right: 0px;
    }
    .demo-single-service h4 {
        font-size: 16px;
    }
    .demo-single-service {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mtb-sd-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ml-sd-30 {
        margin-left: 30px;
    }
    .mr-sd-30 {
        margin-right: 30px;
    }
    .pt-sd-50 {
        padding-top: 50px;
    }
    .ptb-sd-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .ptb-sd-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-sd-3 {
        padding-top: 3px;
    }
    .pb-sd-3 {
        padding-bottom: 3px;
    }
    .pt-sd-100 {
        padding-top: 100px;
    }
    .ptb-sd-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .plr-sd-50 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .plr-sd-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .plr-sd-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .plr-sd-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .plr-sd-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pl-sd-30 {
        padding-left: 30px;
    }
    .pr-sd-30 {
        padding-right: 30px;
    }
    .mt-sd-30 {
        margin-top: 30px;
    }
    .mb-sd-30 {
        margin-bottom: 30px;
    }
    .align-sd-left {
        text-align: left;
    }
    .align-sd-right {
        text-align: right;
    }
    .vc-sd-offset-0 {
        margin-left: 0%;
    }
    .flex-align-sd-center {
        align-items: center;
        -webkit-box-align: center!important;
        -ms-box-align: center!important;
    }
    .flex-align-sd-start {
        align-items: flex-start;
        -webkit-box-align: flex-start!important;
        -ms-box-align: flex-start!important;
    }
    .flex-align-sd-end {
        align-items: flex-end;
        -webkit-box-align: flex-end!important;
        -ms-box-align: flex-end!important;
    }


    .flow-sd-column {
        flex-flow: column !important;
    }
    .flow-sd-row {
        flex-flow: row !important;
    }
    .allow-gap-sd {
        padding-left: 15 !important;
        padding-right: 15 !important;
    }

}

@media #{$ordinary_display} {
    .modal-ld {
        max-width: 970px;
    }
    .holder {
        max-width: 970px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .no-gap-od {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .vc-od-1 {
        flex: 0 0 8.3333333%;
        -ms-flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .vc-od-2 {
        flex: 0 0 16.6666666%;
        -ms-flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .vc-od-3 {
        flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        max-width: 25%;
    }
    .vc-od-4 {
        flex: 0 0 33.3333333%;
        -ms-flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .vc-od-5 {
        flex: 0 0 41.6666667%;
        -ms-flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .vc-od-6 {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
    .vc-od-7 {
        flex: 0 0 58.3333333%;
        -ms-flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .vc-od-8 {
        flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .vc-od-9 {
        flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        max-width: 75%;
    }
    .vc-od-10 {
        flex: 0 0 83.3333333%;
        -ms-flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .vc-od-11 {
        flex: 0 0 91.6666666%;
        -ms-flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .vc-od-12 {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
    .vc-od-block {
        display: block !important;
    }
    .vc-od-offset-1 {
        margin-left: 8.3333333%;
    }
    .vc-od-offset-2 {
        margin-left: 16.6666666%;
    }
    .vc-od-offset-3 {
        margin-left: 25%;
    }
    .vc-od-offset-4 {
        margin-left: 33.3333333%;
    }
    .vc-od-offset-5 {
        margin-left: 41.6666667%;
    }
    .vc-od-offset-6 {
        margin-left: 50%;
    }
    .vc-od-offset-7 {
        margin-left: 58.3333333%;
    }
    .vc-od-offset-8 {
        margin-left: 66.666667%;
    }
    .vc-od-offset-9 {
        margin-left: 75%;
    }
    .vc-od-offset-10 {
        margin-left: 83.3333333%;
    }
    .vc-od-offset-11 {
        margin-left: 91.6666666%;
    }
    .vc-od-offset-12 {
        margin-left: 100%;
    }

    .vc-od-push-1 {
        left: 8.3333333%;
    }
    .vc-od-push-2 {
        left: 16.6666666%;
    }
    .vc-od-push-3 {
        left: 25%;
    }
    .vc-od-push-4 {
        left: 33.3333333%;
    }
    .vc-od-push-5 {
        left: 41.6666667%;
    }
    .vc-od-push-6 {
        left: 50%;
    }
    .vc-od-push-7 {
        left: 58.3333333%;
    }
    .vc-od-push-8 {
        left: 66.666667%;
    }
    .vc-od-push-9 {
        left: 75%;
    }
    .vc-od-push-10 {
        left: 83.3333333%;
    }
    .vc-od-push-11 {
        left: 91.6666666%;
    }
    .vc-od-push-12 {
        left: 100%;
    }
    .vc-od-pull-1 {
        right: 8.3333333%;
    }
    .vc-od-pull-2 {
        right: 16.6666666%;
    }
    .vc-od-pull-3 {
        right: 25%;
    }
    .vc-od-pull-4 {
        right: 33.3333333%;
    }
    .vc-od-pull-5 {
        right: 41.6666667%;
    }
    .vc-od-pull-6 {
        right: 50%;
    }
    .vc-od-pull-7 {
        right: 58.3333333%;
    }
    .vc-od-pull-8 {
        right: 66.666667%;
    }
    .vc-od-pull-9 {
        right: 75%;
    }
    .vc-od-pull-10 {
        right: 83.3333333%;
    }
    .vc-od-pull-11 {
        right: 91.6666666%;
    }
    .vc-od-pull-12 {
        right: 100%;
    }
    .allow-box-od {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .vc-od-none {
        display: none !important;
        -webkit-display: none !important;
    }
    .vc-od-middle {
        -webkit-align-self: center;
        align-self: center;
    }
    .vc-od-top {
        -webkit-align-self: flex-start;
        align-self: flex-start;
    }
    .vc-od-bottom {
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }
    .vc-od-stretch {
        -webkit-align-self: stretch;
        align-self: stretch;
    }
    .float-od-left {
        float: left !important;
    }
    .float-od-right {
        float: right !important;
    }

    .single-item-od-right {
        margin-left: auto;
    }
    .justify-content-od--center {
        justify-content: center;
    }
    .justify-content-od--start {
        justify-content: flex-start;
    }
    .content-space-od-middle {
        justify-content: space-between;
    }
    .content-space-od-around {
        justify-content: space-around;
    }
    .justify-content-od-end {
        justify-content: flex-end;
    }
    .align-od-center {
        text-align: center;
    }
    .mtb-od-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ml-od-30 {
        margin-left: 30px;
    }
    .mr-od-30 {
        margin-right: 30px;
    }
    .pt-od-50 {
        padding-top: 50px;
    }
    .ptb-od-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .ptb-od-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-od-3 {
        padding-top: 3px;
    }
    .pb-od-3 {
        padding-bottom: 3px;
    }
    .pt-od-100 {
        padding-top: 100px;
    }
    .ptb-od-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .plr-od-50 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .plr-od-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .plr-od-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .plr-od-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .plr-od-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pl-od-30 {
        padding-left: 30px;
    }
    .pr-od-30 {
        padding-right: 30px;
    }
    .mt-od-30 {
        margin-top: 30px;
    }
    .mb-od-30 {
        margin-bottom: 30px;
    }
    .align-od-left {
        text-align: left;
    }
    .align-od-right {
        text-align: right;
    }
    .vc-od-offset-0 {
        margin-left: 0%;
    }

    .modal-od {
        max-width: 992px;
    }
    .flex-align-od-center {
        align-items: center;
        -webkit-box-align: center!important;
        -ms-box-align: center!important;
    }
    .flex-align-od-start {
        align-items: flex-start;
        -webkit-box-align: flex-start!important;
        -ms-box-align: flex-start!important;
    }
    .flex-align-od-end {
        align-items: flex-end;
        -webkit-box-align: flex-end!important;
        -ms-box-align: flex-end!important;
    }

    .flow-od-column {
        flex-flow: column !important;
    }
    .flow-od-row {
        flex-flow: row !important;
    }

    .allow-gap-od {
        padding-left: 15 !important;
        padding-right: 15 !important;
    }
}

@media #{$average_display} {
    .modal-ld {
        max-width: 1120px;
    }
    .holder {
        max-width: 1120px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .no-gap-ad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .vc-ad-block {
        display: block !important;
    }
    .vc-ad-1 {
        flex: 0 0 8.3333333%;
        -ms-flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .vc-ad-2 {
        flex: 0 0 16.6666666%;
        -ms-flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .vc-ad-3 {
        flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        max-width: 25%;
    }
    .vc-ad-4 {
        flex: 0 0 33.3333333%;
        -ms-flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .vc-ad-5 {
        flex: 0 0 41.6666667%;
        -ms-flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .vc-ad-6 {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
    .vc-ad-7 {
        flex: 0 0 58.3333333%;
        -ms-flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .vc-ad-8 {
        flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .vc-ad-9 {
        flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        max-width: 75%;
    }
    .vc-ad-10 {
        flex: 0 0 83.3333333%;
        -ms-flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .vc-ad-11 {
        flex: 0 0 91.6666666%;
        -ms-flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .vc-ad-12 {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }

    .vc-ad-offset-1 {
        margin-left: 8.3333333%;
    }
    .vc-ad-offset-2 {
        margin-left: 16.6666666%;
    }
    .vc-ad-offset-3 {
        margin-left: 25%;
    }
    .vc-ad-offset-4 {
        margin-left: 33.3333333%;
    }
    .vc-ad-offset-5 {
        margin-left: 41.6666667%;
    }
    .vc-ad-offset-6 {
        margin-left: 50%;
    }
    .vc-ad-offset-7 {
        margin-left: 58.3333333%;
    }
    .vc-ad-offset-8 {
        margin-left: 66.666667%;
    }
    .vc-ad-offset-9 {
        margin-left: 75%;
    }
    .vc-ad-offset-10 {
        margin-left: 83.3333333%;
    }
    .vc-ad-offset-11 {
        margin-left: 91.6666666%;
    }
    .vc-ad-offset-12 {
        margin-left: 100%;
    }

    .vc-ad-push-1 {
        left: 8.3333333%;
    }
    .vc-ad-push-2 {
        left: 16.6666666%;
    }
    .vc-ad-push-3 {
        left: 25%;
    }
    .vc-ad-push-4 {
        left: 33.3333333%;
    }
    .vc-ad-push-5 {
        left: 41.6666667%;
    }
    .vc-ad-push-6 {
        left: 50%;
    }
    .vc-ad-push-7 {
        left: 58.3333333%;
    }
    .vc-ad-push-8 {
        left: 66.666667%;
    }
    .vc-ad-push-9 {
        left: 75%;
    }
    .vc-ad-push-10 {
        left: 83.3333333%;
    }
    .vc-ad-push-11 {
        left: 91.6666666%;
    }
    .vc-ad-push-12 {
        left: 100%;
    }

    .vc-ad-pull-1 {
        right: 8.3333333%;
    }
    .vc-ad-pull-2 {
        right: 16.6666666%;
    }
    .vc-ad-pull-3 {
        right: 25%;
    }
    .vc-ad-pull-4 {
        right: 33.3333333%;
    }
    .vc-ad-pull-5 {
        right: 41.6666667%;
    }
    .vc-ad-pull-6 {
        right: 50%;
    }
    .vc-ad-pull-7 {
        right: 58.3333333%;
    }
    .vc-ad-pull-8 {
        right: 66.666667%;
    }
    .vc-ad-pull-9 {
        right: 75%;
    }
    .vc-ad-pull-10 {
        right: 83.3333333%;
    }
    .vc-ad-pull-11 {
        right: 91.6666666%;
    }
    .vc-ad-pull-12 {
        right: 100%;
    }
    .allow-box-ad {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .vc-ad-none {
        display: none !important;
        -webkit-display: none !important;
    }
    .vc-ad-middle {
        -webkit-align-self: center;
        align-self: center;
    }
    .vc-ad-top {
        -webkit-align-self: flex-start;
        align-self: flex-start;
    }
    .vc-ad-bottom {
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }
    .vc-ad-stretch {
        -webkit-align-self: stretch;
        align-self: stretch;
    }
    .float-ad-left {
        float: left !important;
    }
    .float-ad-right {
        float: right !important;
    }
    .single-item-ad-right {
        margin-left: auto;
    }
    .justify-content-ad--center {
        justify-content: center;
    }
    .justify-content-ad--start {
        justify-content: flex-start;
    }
    .content-space-ad-middle {
        justify-content: space-between;
    }
    .content-space-ad-around {
        justify-content: space-around;
    }
    .justify-content-ad-end {
        justify-content: flex-end;
    }
    .align-ad-center {
        text-align: center;
    }
    .plr-ad-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .align-ad-left {
        text-align: left;
    }
    .align-ad-right {
        text-align: right;
    }
    .vc-ad-offset-0 {
        margin-left: 0%;
    }

    .flex-align-ad-center {
        align-items: center;
        -webkit-box-align: center!important;
        -ms-box-align: center!important;
    }
    .flex-align-ad-start {
        align-items: flex-start;
        -webkit-box-align: flex-start!important;
        -ms-box-align: flex-start!important;
    }
    .flex-align-ad-end {
        align-items: flex-end;
        -webkit-box-align: flex-end!important;
        -ms-box-align: flex-end!important;
    }

    .flow-ad-column {
        flex-flow: column !important;
    }
    .flow-ad-row {
        flex-flow: row !important;
    }

    .allow-gap-ad {
        padding-left: 15 !important;
        padding-right: 15 !important;
    }

}

@media #{$large_display} {
    .modal-ld {
        max-width: 1260px;
    }
    .holder {
        max-width: 1260px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .vc-ld-block {
        display: block !important;
    }
    .no-gap-ld {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .vc-ld-1 {
        flex: 0 0 8.3333333%;
        -ms-flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .vc-ld-2 {
        flex: 0 0 16.6666666%;
        -ms-flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .vc-ld-3 {
        flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        max-width: 25%;
    }
    .vc-ld-4 {
        flex: 0 0 33.3333333%;
        -ms-flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .vc-ld-5 {
        flex: 0 0 41.6666667%;
        -ms-flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    .vc-ld-6 {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
    .vc-ld-7 {
        flex: 0 0 58.3333333%;
        -ms-flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .vc-ld-8 {
        flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .vc-ld-9 {
        flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        max-width: 75%;
    }
    .vc-ld-10 {
        flex: 0 0 83.3333333%;
        -ms-flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .vc-ld-11 {
        flex: 0 0 91.6666666%;
        -ms-flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .vc-ld-12 {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
    .vc-ld-offset-1 {
        margin-left: 8.3333333%;
    }
    .vc-ld-offset-2 {
        margin-left: 16.6666666%;
    }
    .vc-ld-offset-3 {
        margin-left: 25%;
    }
    .vc-ld-offset-4 {
        margin-left: 33.3333333%;
    }
    .vc-ld-offset-5 {
        margin-left: 41.6666667%;
    }
    .vc-ld-offset-6 {
        margin-left: 50%;
    }
    .vc-ld-offset-7 {
        margin-left: 58.3333333%;
    }
    .vc-ld-offset-8 {
        margin-left: 66.666667%;
    }
    .vc-ld-offset-9 {
        margin-left: 75%;
    }
    .vc-ld-offset-10 {
        margin-left: 83.3333333%;
    }
    .vc-ld-offset-11 {
        margin-left: 91.6666666%;
    }
    .vc-ld-offset-12 {
        margin-left: 100%;
    }

    .vc-ld-push-1 {
        left: 8.3333333%;
    }
    .vc-ld-push-2 {
        left: 16.6666666%;
    }
    .vc-ld-push-3 {
        left: 25%;
    }
    .vc-ld-push-4 {
        left: 33.3333333%;
    }
    .vc-ld-push-5 {
        left: 41.6666667%;
    }
    .vc-ld-push-6 {
        left: 50%;
    }
    .vc-ld-push-7 {
        left: 58.3333333%;
    }
    .vc-ld-push-8 {
        left: 66.666667%;
    }
    .vc-ld-push-9 {
        left: 75%;
    }
    .vc-ld-push-10 {
        left: 83.3333333%;
    }
    .vc-ld-push-11 {
        left: 91.6666666%;
    }
    .vc-ld-push-12 {
        left: 100%;
    }

    .vc-ld-pull-1 {
        right: 8.3333333%;
    }
    .vc-ld-pull-2 {
        right: 16.6666666%;
    }
    .vc-ld-pull-3 {
        right: 25%;
    }
    .vc-ld-pull-4 {
        right: 33.3333333%;
    }
    .vc-ld-pull-5 {
        right: 41.6666667%;
    }
    .vc-ld-pull-6 {
        right: 50%;
    }
    .vc-ld-pull-7 {
        right: 58.3333333%;
    }
    .vc-ld-pull-8 {
        right: 66.666667%;
    }
    .vc-ld-pull-9 {
        right: 75%;
    }
    .vc-ld-pull-10 {
        right: 83.3333333%;
    }
    .vc-ld-pull-11 {
        right: 91.6666666%;
    }
    .vc-ld-pull-12 {
        right: 100%;
    }
    .allow-box-ld {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .vc-ld-none {
        display: none !important;
        -webkit-display: none !important;
    }
    .vc-ld-middle {
        -webkit-align-self: center;
        align-self: center;
    }
    .vc-ld-top {
        -webkit-align-self: flex-start;
        align-self: flex-start;
    }
    .vc-ld-bottom {
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }
    .vc-ld-stretch {
        -webkit-align-self: stretch;
        align-self: stretch;
    }
    .float-ld-left {
        float: left !important;
    }
    .float-ld-right {
        float: right !important;
    }
    .single-item-ld-right {
        margin-left: auto;
    }
    .justify-content-ld--center {
        justify-content: center;
    }
    .justify-content-ld--start {
        justify-content: flex-start;
    }
    .content-space-ld-middle {
        justify-content: space-between;
    }
    .content-space-ld-around {
        justify-content: space-around;
    }
    .justify-content-ld-end {
        justify-content: flex-end;
    }
    .align-ld-center {
        text-align: center;
    }
    .plr-ld-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .align-ld-left {
        text-align: left;
    }
    .align-ld-right {
        text-align: right;
    }
    .vc-ld-offset-0 {
        margin-left: 0%;
    }

    .flex-align-ld-center {
        align-items: center;
        -webkit-box-align: center!important;
        -ms-box-align: center!important;
    }
    .flex-align-ld-start {
        align-items: flex-start;
        -webkit-box-align: flex-start!important;
        -ms-box-align: flex-start!important;
    }
    .flex-align-ld-end {
        align-items: flex-end;
        -webkit-box-align: flex-end!important;
        -ms-box-align: flex-end!important;
    }

    .flow-ld-column {
        flex-flow: column !important;
    }
    .flow-ld-row {
        flex-flow: row !important;
    }


    .allow-gap-ld {
        padding-left: 15 !important;
        padding-right: 15 !important;
    }


}
