.mtb-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mtb-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mt-15{
    margin-top: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.ml-30{
    margin-left: 30px;
}
.mr-30{
    margin-right: 30px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.pt-50{
    padding-top: 50px;
}
.ptb-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.ptb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pt-3{
    padding-top: 3px;
}
.pb-3{
    padding-bottom: 3px;
}
.pt-100{
    padding-top: 100px;
}
.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.plr-50{
    padding-left: 50px;
    padding-right: 50px;
}
.plr-30{
    padding-left: 30px;
    padding-left: 30px;
}
.plr-20{
    padding-left: 20px;
    padding-right: 20px;
}
.plr-15{
    padding-left: 15px;
    padding-right: 15px;
}
.plr-10{
    padding-left: 10px;
    padding-right: 10px;
}
.pl-30{
    padding-left: 30px;
}
.pr-30{
    padding-right: 30px;
}
